/* <img class="header-image" src="header.png" alt="testing"> */

*{
    margin: 0; 
    padding: 0;
    font-family: monospace;
    scroll-behavior: smooth;
}

body{
    position: relative;
    
}

::placeholder { 
    color: white;
    font-style: italic;
}

.banner-div{
    width: 100%;
    height: 300px;
    border: 1px solid black;
    position: relative;
    background-image: url("./images/header.png");
    border-bottom: 7px solid black;
    
}

.banner-div h1{
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: white;
    position: absolute;
    left: 40%;
    top: 200px;
}

.who-we-are-div{
    width: 100%;
    height: 350px;
    border-bottom: 1px solid black;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgb(227, 240, 233);
    
}

.who-we-are-div h2{
    padding: 30px 0 2% 15%;

}

.who-we-are-div p{
    
    width: 30%;
    text-align: left;
    padding-left: 15%;
    line-height: 25px;

}

.who-we-are-div img{
    
    width: 25%;
    height: 75%;
    position: absolute;
    right: 18%;
    top: 12%;

}

.reasons-to-inquire-div{
    width: 100%;
    height: 300px;
    position: relative;
    border-bottom: 1px solid black;

}


.reasons-to-inquire-div .reason-container{
    width: 33.3%;
    height: 90%;
    display: block;
    float: left;
    box-sizing: border-box;
    padding: 40px 30px 20px 20px;
    position: relative;

}

.reasons-to-inquire-div h6{
    text-align: center;
    font-size: 15;
    padding-bottom: 16px;
    font-family: monospace;

}

.reasons-to-inquire-div p{
    text-align: center;
    font-family: monospace;
    line-height: 22px;
    
}

.reasons-to-inquire-div img{
    position: absolute;
    bottom: 1%;
    left: 40%;

}

.contact-us{
    height: 400px;
    width: 100%;
    background-image: url("./images/contact-us.jpg");
    background-repeat: no-repeat; 
    background-size: auto;
    padding: 0;
    margin: 0;

}

.form-div{
    width: 25%;
    margin: 0% 0 2% 20%;
    padding: 40px 10px;
    

}

.form-div h2{
    text-align: center;
    padding-bottom: 15px;
    font-size: 30px;

}

.form-div .form-group{
    padding: 7px;

}

.form-div .form-group input{
    width: 50%;
    display: block;
    padding: 5px;
    margin: 5px 0 0 25%;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: transparent;
    

}

.form-group p{
    text-align: center;
    font-weight: bold;
    font-size: 17px;


}

.form-div .form-group textarea{
    width: 75%;
    display: block;
    padding: 10px;
    margin: 5px 0 0 12.5%;
    max-height: 200px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;

    
}

.form-div .botton{
    color: black;
    background: transparent;
    margin: 3% 0 0 40%;
    border: 1px black solid;
    font-size: 16px;
    padding: 6px 13px;
    font-weight: bold;
    
}

.footer{
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: center;
    padding-top: 15px;
}

.nav-container {
    z-index: 2450000000;
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    background-color: black;
    position: sticky;
    top: 0;

}

.navbar{
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    

}

.navbar li{
    text-align: center;
    display: inline;
    padding-right: 50px;
    
}

.navbar a{
    color: white;
    text-decoration: none;
}
