html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: yellow;
    overflow-x: hidden;
    overflow-y: scroll; 
    box-sizing: border-box;
    
}



h1{
    font-family: Arial;
    font-size: 33px;

}

p{
    padding-bottom: 40px;

}



.loader{
    height: 40px;
    width: 40px;
    top: 50%;
    left: 46%;
    position: absolute;
    z-index: 200;
}

.banner{
    margin: 0px auto;
    padding: 30px;
    height: 25%;
    width: 100%;
    text-align: center;
    color:white;
    background-color: rgb(26, 24, 24);
} 

@media (max-width: 600px) {
    .banner{
        background-color: rgb(32, 32, 32);
        padding: 10px;
        box-sizing: border-box;
        height: 25%;

    }
}

.banner img{
    display: none;
} 

@media (max-width: 400px) {
    .banner img{
        display: block;
        z-index: 2450000000;
        background-color: rgba(255, 255, 255, 0.795);
        position: absolute;
        top: 10px;
        margin-left: 5px;
        height: 40px;
        width: 40px;
        

    }
}

.navcontainer {
    z-index: 2450000000;
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    background-color: black;
    position: sticky;
    top: 0;

}

@media (max-width: 400px) {
    .navcontainer{
        top: 0;
        left: -400px;
        width: 80%;
        height: 100%;
        position: fixed;
        background-color: rgb(0, 0, 0);
        opacity: 1;
        display: block;
        transition: left 0.9s ease-in-out;
        

    }
}

@media (max-width: 400px) {
    .navcontainer--open{
        left:0px;
        
        

    }
}




.navbar{
    width: 95%;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    box-sizing: border-box;
    

}

@media (max-width: 400px) {
    .navbar{
        padding: 10px;
        
        
        

    }
}


.navbar li{
    text-align: center;
    display: inline;
    padding-right: 5%;
    
}

@media (max-width: 400px) {
    .navbar li{
        border-bottom: 2px white solid;
        font-size: 18px;
        display: flex;
        font-style: bold;
        text-decoration: none;
        padding-top: 5%;
        

    }
}


@media (max-width: 400px) {
    .navbar li{
        padding-right: 10%;
    }
}

.navbar a{
    color: white;
    text-decoration: none;
}



.input-container{
    width: 100%;
    height: 700px;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url("./images/spring.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    

}


.input{
    
    width: 50%;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.76);
    margin-bottom: 30px;

}

@media (max-width: 500px) {
    .input{
        background-color: rgba(255, 255, 255, 0.685);
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }
}



.input-data{
    display: block;
    padding: 7px;
    margin: 2% 0 3% 0;
    text-align: center;
    border-style: none;
    border-bottom: 1px rgb(0, 0, 0) solid;
    background-color: transparent;   
    margin: auto;
    margin-bottom: 5px;
    
}

.error{
    display: block;
    padding: 0px;
    text-align: center;
    margin: auto;
    color: red;
    font-style: italic;
    

}

::placeholder { 
    color: black;
    opacity: 0.8; 
    font-style: italic;
  }

.input button{
    color: black;
    width: 80px;
    height: 30px;
    background-color: transparent;
    font-size: 13px;
    border: 1px black solid;
    margin-left: 45%;


}

.input button:hover{
    background-color: black;
    color: white;
}

.input button:active{
    background-color: rgb(29, 28, 28);
    color: white;
}

button:focus {outline:0;}

#bar {
    display: block;
    padding: 0px;
    margin: auto;
    background-color: transparent;

}

.result{
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    background-color: rgba(250, 250, 250, 0.733);

}
@media (max-width: 500px) {
    .result{
        background-color: rgba(255, 255, 255, 0.685);
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }
}


h2{
    text-align: center;
}

