
.navbar{
    top: 0;
    left: -200;
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: lavenderblush;
    border-right: 2px solid purple;
    opacity: 0;

}

.navbar--open{
    left: 0;
    opacity: 1;
}

.nav__link{
    display:flex;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-style: bold;
    border-bottom: 1px solid rgb(202, 128, 202);
    color: black;
}

.nav__link:active{
    background: rebeccapurple;
}

h1{
    font-family: Arial;
    font-size: 33px;

}

p{
    padding-bottom: 40px;

}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    overflow: scroll;
}



.banner{
    margin: 0px auto;
    padding: 20px;
    height: 35%;
    width: 100%;
    overflow: hidden;
    border: solid;
    background-color: white;
    border-color: grey;
    border-width: 0px 0px 5px 0px;
}

.image{
    width: 300px;
    height: 300px;
    position: absolute;
    top: -20px;
    left: 60%;

}

.buttonstyle{
    border: solid;
    background-color: black;
    padding: 15px;
    color: white;


}

.input{
    margin: 0px;
    padding: 20px;
    height: 200px;
    width: 100%;
    overflow: hidden;
    border: solid;
    background-color:pink;
    border-color: black;
    border-width: 0px 0px 5px 0px;
}

input {
    outline: none;
}

.result{
    margin: 0px;
    padding: 20px;
    height: 400px;
    width: 100%;
    overflow: hidden;
    border: solid;
    background-color:plum;
    border-color: black;
    border-width: 0px 0px 5px 0px;   

}